/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color: #CC4E0C;   /* background color */
	color: #000000;          /* text color for the entire page */
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
	
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 85%;
	margin: 0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	text-align:left;
	background-color:#F7B857;
	font-weight: bold;
	font-size: 150%;
	color:#5F0607;
	
 }

.stepContent{ 
	background-color: white;
	padding:7px;
	display: flex; /*creates multiple column layout*/
	flex-wrap:wrap;
	justify-content: center;
}

.stepDescription {
	width:55%;
	padding:5px;
	line-height:145%;
}

.stepImage {
	width:30%;	
	padding:5px;
	text-align: center;
}

.stepImage img {
    width:100%;
    height:auto;
}

strong {
  font-weight: 800;
}

.note {
		background-color: #F6DD58;
		padding:20px;
		border-radius:20px;
	}

.material-icons {
	color:olive; 
	font-size:3em;
}



