@charset "utf-8";
/* CSS Document */

body {
	text-align: center;
	background-color: #C0C0C0;
	background-image: url("../img/lighthouse4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color:black
}
#header {
	background-color: #C0C0C0;
	margin:0;
	text-align: center;
	color: darkblue;
}
h1 {
	font-family: 'Cutive', serif;
}
h2 {
	font-family: 'Cutive Mono', monospace;
}
a {
	padding-bottom: 1px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
margin: 3px;
	font-size: 100%;
	background-color:azure; 
	color:navy; 
}
a:hover {
	font-size: 130%; 
	background-color:midnightblue;
	color:azure
		
}
#wrapper {
	width: 85%;
	margin: 0 auto;    /* centers wrapper */
}
.stepTitle{
	padding:10px;
	text-align:left;
	background-color:#4834F8;
	font-weight: bold;
	font-size: 150%;
 }

.stepContent{ 
	background-color: white;
	padding:7px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.stepDescription {
	width:55%;
	padding:5px;
	line-height:145%;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: center;
}

.stepImage img {
    width:100%;
    height:auto;
}

strong {
  font-weight: 800;
}
