@charset "utf-8";
/* CSS Document */

body {
	text-align: center;
	background-color: #C0C0C0;
	background-image: url("../img/lighthouse4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color:black
}
#header {
	background-color: #C0C0C0;
	margin:0;
	text-align: center;
	color:darkblue
}
h1, h3 {
	font-family: 'Cutive', serif;
}
h2 {
	font-family: 'Cutive Mono', monospace;
}
h4 {
	font-family: 'Cutive Mono', monospace;
	text-align: left;
}
a {
	padding-bottom: 1px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
margin: 3px;
	font-size: 100%;
	background-color:azure; 
	color:navy; 
}
a:hover {
	font-size: 130%; 
	background-color:midnightblue;
	color:azure
		
}
#wrapper {
	width: 85%;
	margin: 0 auto;    /* centers wrapper */
}
#headerTask {
	background-color:#E2E1EF;
	padding:7px;
}
.taskTitle{
	padding:3px;
	text-align:left;
	background-color:cornflowerblue;
	font-weight: bold;
	font-size: 100%;
 }

.taskContent{ 
	background-color: white;
	padding:7px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.taskDescription {
	width:55%;
	padding:5px;
	line-height:145%;
	text-align: left;
}

.taskImage {
	width:40%;	
	padding:5px;
	text-align: center;
}

.taskImage img {
    width:100%;
    height:auto;
}
.atNavfac {
		background-color:#C8ED55;
		padding:10px;
		border-radius:20px;
	}
.material-icons {
	color:blue; 
	font-size:3em;
}



strong {
  font-weight: 800;
}
